{% block component %}

    <div id="component-{{ component.id }}">

        {% block component_stylesheets %}

        {% endblock component_stylesheets %}

        {% block component_wrapper_container %}
            <div id="component-panel-{{ component.id }}" class="panel panel-default" style="margin: 10px; padding:0px;">
                <div id="component-panel-heading-{{ component.id }}" class="panel-heading">
                    <div class="panel-title row">
                        {% block component_header %}
                        <div id="component-panel-header-title-{{ component.id }}" style="padding-top: 5px;"
                             class="title col-sm-12 col-md-6">
                            {% block component_header_title %}
                                <i class="fa {{ component_type.getIconClassName() }}"></i>
                                <strong>{{ component.title }}</strong>
                            {% endblock component_header_title %}
                        </div>
                        <div id="component-panel-header-custom-{{ component.id }}" class="title col-sm-12 col-md-4">
                            {% block component_header_custom %}
                            {% endblock component_header_custom %}
                        </div>
                        <div id="component-panel-header-toolbox-{{ component.id }}"
                             class="tool-box col-sm-12 col-md-2 pull-right"
                             style="text-align: left; padding: 0px; margin: 0px; margin-left: -10px; min-width: 140px;margin-right: 5px">
                            {% block component_header_toolbox %}
                            {% endblock component_header_toolbox %}
                        </div>
                        {% endblock component_header %}
                    </div>
                </div>

                <div id="component-panel-content-{{ component.id }}" class="panel-body table-responsive no-padding" style="overflow-y: auto; overflow-x: auto">
                    {% block component_content %}
                    {% endblock component_content %}
                </div>

            </div>
        {% endblock component_wrapper_container %}

        {% block component_javascripts %}

        {% endblock component_javascripts %}
    </div>

{% endblock component %}



