{% extends app.request.isXmlHttpRequest?
'@TechPromuxDynamicReportBundle/Type/Component/DataModel/render.ajax.html.twig'
:'@TechPromuxDynamicReportBundle/Type/Component/DataModel/render.html.twig' %}

{% block component_content %}
    {{ parent() }}

    <table id="component-table-paginated-data-{{ component.id }}"
           class="table table-bordered table-hover table-striped table-condensed" style="margin-bottom: 0px;">
        <thead>
        <tr>
            {% if (settings['basic_options']['show_row_number'] == true) %}
                <th></th>
            {% endif %}
            <th></th>
            <th style="text-align:center;padding-left: 20px;" colspan="{{ settings['_labels'] | length }}">
                <strong>{{ settings['_titles']['labels'] }}</strong>
            </th>
            {% if (settings['_data_summary_function']!=null and settings['_data_summary_function']!='') %}
                <th>
                </th>
            {% endif %}
        </tr>
        <tr>
            {% if (settings['basic_options']['show_row_number'] == true) %}
                <th style="text-align:center;">
                    <b>#</b>
                </th>
            {% endif %}
            <th width="{{ settings['basic_options']['header_first_column_text_with'] }}" style="text-align:center;">
                <strong>{{ settings['_titles']['series'] }}</strong>
            </th>
            {% for label in settings['_labels'] %}
                <th title="{{ label }}"
                    style="text-align:{{ settings['dataset_detail_for_labels']['text_align'] }};"> {{ label }} </th>
            {% endfor %}
            {% if (settings['_data_summary_function']!=null and settings['_data_summary_function']!='') %}
                <th style="text-align:{{ settings['dataset_detail_for_labels']['text_align'] }};border-left: 2px solid #c9cad7;">
                    {{ settings['_data_summary_label'] | trans ({},'TechPromuxDynamicReportBundle') }}
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set format = settings['_datas_descriptions_by_data'][0]['format'] %}
        {% set prefix = settings['_datas_descriptions_by_data'][0]['prefix'] %}
        {% set suffix = settings['_datas_descriptions_by_data'][0]['suffix'] %}
        {% for serie, serie_datas in settings['_series'] %}
            <tr>
                {% if (settings['basic_options']['show_row_number'] == true) %}
                    <td style="text-align:center;">{{ loop.index }}</td>
                {% endif %}
                <td style="text-align:{{ settings['dataset_detail_for_series']['text_align'] }};">
                    <b>{{ serie }}</b></td>
                {% set summary_horizontal_values = [] %}
                {% for label in settings['_labels'] %}

                    {% set col =  serie_datas[label] is defined ?  serie_datas[label] : null %}

                    {% set summary_col = formatter_helper.summarizeValues(settings['_data_crossed_function'],col ) %}

                    {% set summary_horizontal_values = formatter_helper.pushValuesToArray(summary_horizontal_values, col) %}

                    {% set text_color = '' %}
                    {% set text_title = '' %}

                    {% if (settings['_limit_indicators'] is defined) %}

                        {% for limit_indicator in settings['_limit_indicators'] %}

                            {% if (formatter_helper.verifyLimitIndicator(summary_col,limit_indicator['limit_type'], limit_indicator['limit'] )) %}
                                {% set text_color = 'cursor:help;color:'~limit_indicator['limit_color']~';' %}
                                {% set text_title =  (limit_indicator['limit_message'] | replace({'[%$V%]':formatter_helper.formatValue(summary_col,format)})) %}
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                    <td style="text-align:{{ settings['dataset_detail_for_datas']['text_align'] }};">
                        <span style="{{ text_color }}" title="{{ text_title }}" data-placement="top"
                              data-toggle="tooltip">
                            {% if (settings['_data_crossed_function'] == 'COUNT') %}
                                {{ summary_col }}
                            {% else %}
                                {{ prefix~formatter_helper.formatValue(summary_col,format)~suffix }}
                            {% endif %}
                        </span>
                    </td>
                {% endfor %}
                {% if (settings['_data_summary_function']!=null and settings['_data_summary_function']!='') %}

                    {% set text_color = '' %}
                    {% set text_title = '' %}

                    {% set summary_horizontal = formatter_helper.summarizeValues(settings['_data_summary_function'],summary_horizontal_values ) %}

                    {% if (settings['_limit_indicators'] is defined) %}

                        {% for limit_indicator in settings['_limit_indicators'] %}

                            {% if (formatter_helper.verifyLimitIndicator(summary_horizontal,limit_indicator['limit_type'], limit_indicator['limit'] )) %}
                                {% set text_color = 'cursor:help;color:'~limit_indicator['limit_color']~';' %}
                                {% set text_title =  (limit_indicator['limit_message'] | replace({'[%$V%]':formatter_helper.formatValue(summary_horizontal,format)})) %}
                            {% endif %}

                        {% endfor %}

                    {% endif %}
                    <td style="text-align:{{ settings['dataset_detail_for_datas']['text_align'] }};border-left: 2px solid #c9cad7;">
                        <span style="cursor: help;{{ text_color }}" title="{{ text_title }}"
                              data-placement="top" data-toggle="tooltip">

                            {% if (settings['_data_summary_function'] == 'COUNT') %}
                                {{ summary_horizontal }}
                            {% else %}
                                {{ prefix~formatter_helper.formatValue(summary_horizontal,format)~suffix }}
                            {% endif %}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <!-- -->
        {% if (settings['_data_summary_function']!=null and settings['_data_summary_function']!='') %}
            <tr style="border-top: 2px solid #c9cad7;">
                <td style="text-align:right;padding-left: 20px;"
                    colspan="{% if (settings['basic_options']['show_row_number'] == true) %}2{% else %}1{% endif %}">
                    <b>{{ settings['_data_summary_label'] | trans ({},'TechPromuxDynamicReportBundle') }}</b>
                </td>
                {% set summary_final_values = [] %}
                {% for label in settings['_labels'] %}
                    {% set summary_vertical_values = [] %}
                    {% for series, serie_datas in settings['_series'] %}
                        {% set col = serie_datas[label] is defined ?  serie_datas[label] : null %}
                        {% set summary_vertical_values = formatter_helper.pushValuesToArray(summary_vertical_values, col) %}
                        {% set summary_final_values = formatter_helper.pushValuesToArray(summary_final_values, col) %}
                    {% endfor %}

                    {% set text_color = '' %}
                    {% set text_title = '' %}

                    {% set summary_vertical = formatter_helper.summarizeValues(settings['_data_summary_function'],summary_vertical_values ) %}

                    {% if (settings['_limit_indicators'] is defined) %}

                        {% for limit_indicator in settings['_limit_indicators'] %}

                            {% if (formatter_helper.verifyLimitIndicator(summary_vertical,limit_indicator['limit_type'], limit_indicator['limit'] )) %}
                                {% set text_color = 'cursor:help;color:'~limit_indicator['limit_color']~';' %}
                                {% set text_title =  (limit_indicator['limit_message'] | replace({'[%$V%]':formatter_helper.formatValue(summary_vertical,format)})) %}
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                    <td style="text-align:{{ settings['dataset_detail_for_datas']['text_align'] }};">
                        <span style="cursor: help;{{ text_color }}" title="{{ text_title }}"
                              data-placement="top" data-toggle="tooltip">
                            {% if (settings['_data_summary_function'] == 'COUNT') %}
                                {{ summary_vertical }}
                            {% else %}
                                {{ prefix~formatter_helper.formatValue(summary_vertical,format)~suffix }}
                            {% endif %}
                        </span>
                    </td>
                {% endfor %}

                {% set text_color = '' %}
                {% set text_title = '' %}

                {% set summary_final = formatter_helper.summarizeValues(settings['_data_summary_function'],summary_final_values ) %}

                {% if (settings['_limit_indicators'] is defined) %}

                    {% for limit_indicator in settings['_limit_indicators'] %}

                        {% if (formatter_helper.verifyLimitIndicator(summary_final,limit_indicator['limit_type'], limit_indicator['limit'] )) %}
                            {% set text_color = 'cursor:help;color:'~limit_indicator['limit_color']~';' %}
                            {% set text_title =  (limit_indicator['limit_message'] | replace({'[%$V%]':formatter_helper.formatValue(summary_final,format)})) %}
                        {% endif %}

                    {% endfor %}

                {% endif %}

                <td style="text-align:{{ settings['dataset_detail_for_datas']['text_align'] }};">
                    {% if (text_color!='') %} <b style="cursor: help;{{ text_color }}" title="{{ text_title }}"
                                                 data-placement="top" data-toggle="tooltip"> {% endif %}

                        {% if (settings['_data_summary_function'] == 'COUNT') %}
                            {{ summary_final }}
                        {% else %}
                            {{ prefix~formatter_helper.formatValue(summary_final,format)~suffix }}
                        {% endif %}

                        {% if (text_color!='') %}</b> {% endif %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>





{% endblock component_content %}

{% block component_stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock component_stylesheets %}

{% block component_javascripts %}
    {{ parent() }}
    <script>

        $(document).on('data-loaded', '#component-{{ component.id }}', function (event) {

            var data = $('#component-{{ component.id }}').attr('data-loaded');

            var tableData = $('<div>').append(data).find('#component-table-paginated-data-{{ component.id }}');

            $('#component-panel-content-{{ component.id }}').html(tableData);

            //var _sort_by = $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_by').val();
            //var _sort_type = $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_type').val().toLowerCase();
            //$('component-crosstable-orderby-arrow-{{ component.id }}').parent().removeClass('active';
            //$('component-crosstable-orderby-arrow-{{ component.id }}-'+_sort_by+'-'+_sort_type).parent().addClass('active');
        });

    </script>

{% endblock component_javascripts %}