<div id="component-panel-header-toolbox-orderby-{{ component.id }}"
     class="btn-group toolbox-order-options pull-right" style="margin-left: 5px;">
    <button aria-expanded="false" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            title="{{ 'order' | trans({},'TechPromuxDynamicReportBundle') }}">
        <i class="glyphicon glyphicon-sort-by-attributes"></i>
    </button>
    <ul id="component-crosstable-orderby-options-{{ component.id }}" class="dropdown-menu dropdown-menu-right"
        role="menu">
        {% for order_by in extras['datamodel_details_descriptions'] %}
            {% if (order_by.classification == 'number') %}
                {% set sort_icon_class = 'numeric' %}
            {% elseif (order_by.classification == 'string') %}
                {% set sort_icon_class = 'alpha' %}
            {% else %}
                {% set sort_icon_class = 'amount' %}
            {% endif %}
            <li>
                <a class="component-crosstable-orderby-arrow-{{ component.id }} component-crosstable-orderby-arrow-{{ component.id }}-{{ order_by.id }}-asc"
                   data-sort-by="{{ order_by.id }}"
                   data-sort-order="ASC" href="#sort-asc-by-{{ order_by.title | lower }}">
                    <i class="fa fa-sort-{{ sort_icon_class }}-asc"></i>{{ order_by.title }}
                    : {{ 'ASC Order' | trans({},'TechPromuxDynamicReportBundle') }}
                </a>
            </li>
            <li>
                <a class="component-crosstable-orderby-arrow-{{ component.id }} component-crosstable-orderby-arrow-{{ component.id }}-{{ order_by.id }}-desc"
                   data-sort-by="{{ order_by.id }}"
                   data-sort-order="DESC" href="#sort-desc-by-{{ order_by.title | lower }}">
                    <i class="fa fa-sort-{{ sort_icon_class }}-desc"></i>{{ order_by.title }}
                    : {{ 'DESC Order' | trans({},'TechPromuxDynamicReportBundle') }}
                </a>
            </li>
            {% if (loop.revindex0!=0) %}
                <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    // configure full screen button
    $(document).ready(function () {
        //$('#component-panel-header-title-{{ component.id }}').removeClass('col-md-10').addClass('col-md-6');
        //$('#component-panel-header-toolbox-{{ component.id }}').removeClass('col-md-1').addClass('col-md-2').css({'min-width': '190px'});
        // linking order menus with filters form submit action
        //$('#component-panel-header-toolbox-orderby-{{ component.id }}').appendTo($('#component-panel-header-toolbox-{{ component.id }}'));
    });
    // configure order buttons options
    $(document).on('click', 'a.component-crosstable-orderby-arrow-{{ component.id }}', function (event) {
        event.preventDefault();
        event.stopPropagation();

        $('a.component-crosstable-orderby-arrow-{{ component.id }}').parent().removeClass('active');
        $(this).parent().addClass('active');
        $('#component-panel-header-toolbox-orderby-{{ component.id }} button.btn.btn-default.dropdown-toggle').trigger('click');

        $("#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_by").val($(this).attr('data-sort-by'));
        $("#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_type").val($(this).attr('data-sort-order'));
        $("#component-filters-form-{{ component.id }}").trigger('submit');
    });
</script>
    
