{% if (component_type.getDataModelDatasetResultPaginated()) %}
    <div id="component-header-paginator-{{ component.id }}" class="paginator-container" style="text-align:right;">
        <div id="component-header-paginator-title-{{ component.id }}" class="col-md-3 col-sm-12"
             style="padding-top: 5px;font-size: 15px;">
            {% if ((data.paginator.currentPageResults|length)>0) %}
                <span><strong>{{ (data.paginator.currentPage-1)*data.paginator.maxPerPage+1 }}</strong> {{ 'to' | trans({},'TechPromuxDynamicReportBundle') }}
                    <strong>{{ (data.paginator.currentPage-1)*data.paginator.maxPerPage+(data.paginator.currentPageResults|length) }}</strong> {{ 'of' | trans({},'TechPromuxDynamicReportBundle') }}
                    <strong>{{ data.paginator.nbResults }}</strong></span>
            {% else %}
                <span>No results found</span>
            {% endif %}
        </div>
        <div id="component-header-paginator-links-{{ component.id }}" class="col-md-9 col-sm-12"
             style="text-align:right;font-size: 14px;padding-left: 5px; padding-right: 5px;">
            <style>
                .component-header-paginator-links-pager-{{component.id}} {
                    margin: 0px 0 !important;
                }
            </style>
            {{ include('TechPromuxDynamicReportBundle:Type:Component/DataModel/render.datamodel.paginator.links.macro.html.twig',{
                'route': component_type.getRenderActionPathName(),
                'sonata_component': component,
                'routeParams':{'id': component.report.id, 'childId': component.id },
                'paginator': data.paginator,
                'maxPaginatorLinks': settings['dataset_paginator_options']['max_paginator_links'],
                'paginator_container_class':'component-header-paginator-links-pager-'~component.id~' pager pull-right',
                'currentClass':'active disabled',
                'firstPageText':'««',
                'firstEnabledClass':'first',
                'firstDisabledClass':'disabled',
                'previousPageText':'«',
                'previousEnabledClass':'left',
                'previousDisabledClass':'disabled',
                'nextPageText':'»',
                'nextEnabledClass':'right',
                'nextDisabledClass':'disabled',
                'lastPageText':'»»',
                'lastEnabledClass':'last',
                'lastDisabledClass':'disabled'
            }) }}
        </div>
    </div>
    <script>
        // linking paginator links with filters form submit action

        $(document).on('click', '#component-header-paginator-{{ component.id }} .pager a', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $("#component-filters-form-{{ component.id }}").attr("action", $(this).attr("href"));
            $("#component-filters-form-{{ component.id }}").trigger('submit');
        });

        $(document).on('data-loaded', '#component-panel-content-{{ component.id }}', function (event) {
            var data = $('#component-panel-content-{{ component.id }}').attr('data-loaded');
            var paginatorData = $('<div>').append(data).find('#component-header-paginator-{{ component.id }}');
            $('#component-panel-header-custom-{{ component.id }}').html('');
            $('#component-panel-header-custom-{{ component.id }}').append(paginatorData);
            $('#component-header-paginator-{{ component.id }}').removeClass('hide');
        });

        // init custom stuffs

        $(document).ready(function () {
            $('#component-panel-header-custom-{{ component.id }}').html('');
            $('#component-panel-header-custom-{{ component.id }}').append($('#component-header-paginator-{{ component.id }}'));
            $('#component-header-paginator-{{ component.id }}').removeClass('hide');
        });

    </script>
{% endif %}