{% if paginator is not null and paginator.haveToPaginate %}     

    {% set firstPage = 1 %}  
    {% set lastPage = paginator.nbPages %}  
    {% set currentPage = paginator.currentPage %}  
    {% set previousPage = paginator.hasPreviousPage?paginator.previousPage:1 %}  
    {% set nextPage = paginator.hasNextPage?paginator.nextPage:lastPage %}  

    {% set semiMaxPaginatorLinks = maxPaginatorLinks%2==0?maxPaginatorLinks/2:(maxPaginatorLinks-1)/2 %}  

    {% set minPage = paginator.currentPage-semiMaxPaginatorLinks>=1?paginator.currentPage-semiMaxPaginatorLinks:1%}  
    {% set maxPage = minPage+maxPaginatorLinks<=lastPage?minPage+maxPaginatorLinks-1:lastPage %}  
    {% if (minPage+maxPaginatorLinks>lastPage)%}
        {% set minPage = lastPage-maxPaginatorLinks+1>=1?lastPage-maxPaginatorLinks+1:1%}  
    {% endif %}

    <ul class="{{ paginator_container_class }}">

        <!-- FIRST -->
        {% if currentPage > 1 %}
            {% set rParams =  {'_page': firstPage} | merge(routeParams) %}
            <li class="{{ firstEnabledClass }}" title="{{'Go to first page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <a href="{{ path(route,rParams) }}">{{ firstPageText }}</a>
            </li>
        {% else %}
            <li class="{{ firstDisabledClass }}" title="{{'Go to first page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <span>{{ firstPageText }}</span>
            </li>
        {% endif %}

        <!-- PREVIOUS -->
        {% if currentPage > 1 %}   
            {% set rParams =  {'_page': previousPage} | merge(routeParams) %}
            <li class="{{ previousEnabledClass }}" title="{{'Go to previous page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <a href="{{ path(route,rParams) }}">{{ previousPageText }}</a>
            </li>
        {% else %}
            <li class="{{ previousDisabledClass }}" title="{{'Go to previous page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <span>{{ previousPageText }}</span>
            </li>
        {% endif %}

        <!-- NUMBERS -->
        {% for page in minPage..maxPage %}
            {% if ((page>currentPage and maxPage*2-currentPage<lastPage) or (page<currentPage and minPage*2-currentPage>1))%}
                {% set _page = page*2-currentPage %}
            {% else%}
                {% set _page = page %}
            {% endif %}
            {% if page == currentPage %}
                <li class="{{ currentClass }}" title="{{'Go to page' | trans({},'TechPromuxDynamicReportBundle')}} {{page}}" data-placement="top" data-toggle="tooltip">
                    <span>{{ page }}</span>
                </li>
            {% else %}
                {% set rParams =  {'_page': _page} | merge(routeParams) %}
                <li title="{{'Go to page' | trans({},'TechPromuxDynamicReportBundle')}} {{_page}}" data-placement="top" data-toggle="tooltip">
                    <a href="{{ path(route,rParams) }}">{{ _page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- NEXT -->
        {% if currentPage < lastPage %}
            {% set rParams =  {'_page': nextPage} | merge(routeParams) %}
            <li class="{{ nextEnabledClass }}" title="{{'Go to next page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <a href="{{ path(route,rParams) }}">{{ nextPageText }}</a>
            </li>
        {% else %}
            <li class="{{ nextDisabledClass }}" title="{{'Go to next page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <span>{{ nextPageText }}</span>
            </li>
        {% endif %}

        <!-- LAST -->
        {% if currentPage < lastPage %}
            {% set rParams =  {'_page': lastPage} | merge(routeParams) %}
            <li class="{{ lastEnabledClass }}" title="{{'Go to last page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <a href="{{ path(route,rParams) }}">{{ lastPageText }}</a>
            </li>
        {% else %}
            <li class="{{ lastDisabledClass }}" title="{{'Go to last page' | trans({},'TechPromuxDynamicReportBundle')}}" data-placement="top" data-toggle="tooltip">
                <span>{{ lastPageText }}</span>
            </li>
        {% endif %}
    </ul>                                           
{% endif %}
