{% extends app.request.isXmlHttpRequest?
'TechPromuxDynamicReportBundle:Type:Component/DataModel/render.ajax.layout.html.twig'
:'TechPromuxDynamicReportBundle:Type:Component/DataModel/render.datamodel.html.twig' %}

{% block component_content %}
    {{ parent() }}

    <table id="component-table-paginated-{{ component.id }}"
           class="table table-bordered table-hover table-striped table-condensed" style="margin-bottom: 0px;">
        <thead>
        <tr>
            {% if (settings['paginator_options']['show_row_number_in_first_column'] == true) %}
                <th style="text-align:center;" id="component-table-paginated-header-{{ component.id }}-#">
                <span>
                    <a class="table-column-arrow-order-by-{{ component.id }}" data-sort-by="" data-sort-order=""
                       href="#sort-asc-by-">#</a>
                </span>
                </th>
            {% endif %}
            {% for d in settings['dataset_multiple_details_for_data'] %}
                {% if (extras.datamodel_details_descriptions[d['detail_id']] is defined) %} {# asking if is public #}
                    {% if (extras.datamodel_details_descriptions[d['detail_id']].classification == 'number') %}
                        {% set sort_icon_class = 'numeric' %}
                    {% elseif (extras.datamodel_details_descriptions[d['detail_id']].classification == 'string') %}
                        {% set sort_icon_class = 'alpha' %}
                    {% else %}
                        {% set sort_icon_class = 'amount' %}
                    {% endif %}

                    <th title="{{ extras.datamodel_details_descriptions[d['detail_id']].title }}"
                        style="text-align: center;"
                        id="component-table-paginated-header-{{ component.id }}-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}">
                        <div class="btn-group" style="width: 100%">
                            <label aria-expanded="false" type="button" class="dropdown-toggle" data-toggle="dropdown"
                                   style="width: 100%">
                                <span>
                                    {% if (d['detail_label']=='title') %}
                                        {{ extras.datamodel_details_descriptions[d['detail_id']].title }}
                                    {% else %}
                                        {{ extras.datamodel_details_descriptions[d['detail_id']].abbreviation }}{% endif %}
                                </span>
                                <a href="#sort-by-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}"
                                   class="component-table-paginated-data-header-sort-icon-{{ component.id }} pull-right">

                                    <i class="fa fa-sort-{{ component.id }}-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}-asc fa-sort-{{ sort_icon_class }}-asc hide"></i>
                                    <i class="fa fa-sort-{{ component.id }}-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}-desc fa-sort-{{ sort_icon_class }}-desc hide"></i>
                                </a>
                            </label>
                            <ul role="menu"
                                class="dropdown-menu dropdown-menu-{% if (loop.index0>=loop.revindex0) %}right{% else %}left{% endif %}">
                                <li>
                                    <a class="component-table-paginated-data-order-by-{{ component.id }} component-table-paginated-data-order-by-{{ component.id }}-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}-asc"
                                       data-sort-by="{{ extras.datamodel_details_descriptions[d['detail_id']].id }}"
                                       data-sort-order="ASC"
                                       href="#sort-asc-by-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}">
                                        <i class="fa fa-sort-{{ sort_icon_class }}-asc"></i> {{ 'component.table.paginated.order.asc' | trans({},component_type.getBundleName()) }}
                                    </a>
                                </li>
                                <li>
                                    <a class="component-table-paginated-data-order-by-{{ component.id }} component-table-paginated-data-order-by-{{ component.id }}-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}-desc"
                                       data-sort-by="{{ extras.datamodel_details_descriptions[d['detail_id']].id }}"
                                       data-sort-order="DESC"
                                       href="#sort-desc-by-{{ extras.datamodel_details_descriptions[d['detail_id']].id }}">
                                        <i class="fa fa-sort-{{ sort_icon_class }}-desc"></i> {{ 'component.table.paginated.order.desc' | trans({},component_type.getBundleName()) }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data.result %}
            <tr>
                {% if (settings['paginator_options']['show_row_number_in_first_column'] == true) %}
                    <td style="text-align:center;">{{ (data.paginator.currentPage-1)*data.paginator.maxPerPage + loop.index }}</td>
                {% endif %}
                {% for d in settings['dataset_multiple_details_for_data'] %}
                    {% if (extras.datamodel_details_descriptions[d['detail_id']] is defined) %} {# asking if detail selected is public #}
                        {% set format = extras.datamodel_details_descriptions[d['detail_id']]['format'] %}
                        {% if (d['show_prefix'] == true) %}
                            {% set prefix = extras.datamodel_details_descriptions[d['detail_id']]['prefix'] %}
                        {% else %}
                            {% set prefix = '' %}
                        {% endif %}
                        {% if (d['show_suffix'] == true) %}
                            {% set suffix = extras.datamodel_details_descriptions[d['detail_id']]['suffix'] %}
                        {% else %}
                            {% set suffix = '' %}
                        {% endif %}
                        {% set col = row[extras.datamodel_details_descriptions[d['detail_id']]['alias']] %}
                        {% set text_color = '' %}
                        {% set text_title = '' %}
                        {% if (settings.limit_indicators[d['detail_id']] is defined) %}

                            {% for limit_indicator in settings.limit_indicators[d['detail_id']] %}

                                {% if ( limit_indicator['limit_type']=='less_than') %}
                                    {% if (col<limit_indicator['limit'] ) %}
                                        {% set text_color = 'color:'~limit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                                {% if ( limit_indicator['limit_type']=='less_or_equal') %}
                                    {% if (col<=limit_indicator['limit'] ) %}
                                        {% set text_color = 'color:'~slimit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                                {% if ( limit_indicator['limit_type']=='greater_than') %}
                                    {% if (col>limit_indicator['limit'] ) %}
                                        {% set text_color = 'color:'~limit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                                {% if ( limit_indicator['limit_type']=='greater_or_equal') %}
                                    {% if (col>=limit_indicator['limit'] ) %}
                                        {% set text_color = 'color:'~limit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                                {% if ( limit_indicator['limit_type']=='between') %}
                                    {% if (col>=limit_indicator['limit'][0] and col<=limit_indicator['limit'][1]) %}
                                        {% set text_color = 'color:'~limit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                                {% if ( limit_indicator['limit_type']=='not_between') %}
                                    {% if (col<limit_indicator['limit'][0] or col>limit_indicator['limit'][1]) %}
                                        {% set text_color = 'color:'~limit_indicator['limit_color']~';' %}
                                        {% set text_title =  limit_indicator['limit_message'] %}
                                    {% endif %}
                                {% endif %}

                            {% endfor %}


                        {% endif %}
                        <td style="text-align:{{ d['text_align'] }};">
                            {% if (text_color!='') %}
                            <b style="cursor: help;{{ text_color }}" title="{{ text_title }}" data-placement="top"
                               data-toggle="tooltip">
                                {% endif %}
                                {{ prefix }}{{ extras.formatter_helper.formatValue(col,format) }}{{ suffix }}
                                {% if (text_color!='') %}
                            </b>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock component_content %}

{% block component_javascripts %}
    {{ parent() }}

    <script>
        // linking table header order arrows with filters form submit action

        $(document).on('click', '#component-table-paginated-{{ component.id }} a.component-table-paginated-data-order-by-{{ component.id }}', function (event) {
            event.preventDefault();
            event.stopPropagation();

            $("#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_by").val($(this).attr('data-sort-by'));
            $("#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_type").val($(this).attr('data-sort-order'));

            $("#component-filters-form-{{ component.id }}").trigger('submit');
        });

        // when filter form indicates that ajax data was loaded, update view

        $(document).on('data-loaded', '#component-panel-content-{{ component.id }}', function (event) {

            $('#component-panel-content-{{ component.id }}').html($('#component-panel-content-{{ component.id }}').attr('data-loaded'));
            $('#component-panel-content-{{ component.id }}').attr('data-loaded', '');

            var _sort_by = $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_by').val();
            var _sort_type = $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_type').val().toLowerCase();

            $('#component-table-paginated-{{ component.id }} a i.fa-sort-{{ component.id }}-' + _sort_by + '-' + _sort_type).removeClass('hide');

            $('#component-table-paginated-header-{{ component.id }}-' + _sort_by + ' span').css({'color': 'blue'});
            $('#component-table-paginated-{{ component.id }} a.component-table-paginated-data-order-by-{{ component.id }}-' + _sort_by + '-' + _sort_type).addClass('active');
            $('#component-table-paginated-{{ component.id }} a.component-table-paginated-data-order-by-{{ component.id }}-' + _sort_by + '-' + _sort_type).parent().addClass('active');
        });

        // init custom stuffs

        $(document).ready(function () {

            $('#component-panel-{{ component.id }} a i.fa-sort-{{ component.id }}-' + $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_by').val() + '-' + $('#component-filters-form-{{ component.id }} #filters_form_{{ component.id }}__sort_type').val().toLowerCase()).removeClass('hide');
        });

    </script>
{% endblock component_javascripts %}